nav{
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    background: transparent;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(0px);
}
nav li{
    padding: 2em 3em 1em 1em ;
}
nav li a{
    font-size: 2.2em;
    color: var(--nav-text-color);
}
nav li:last-child{
    display: none;
}
nav li a:hover{
    color: var(--nav-color);
    text-shadow: 0 4px 3.4px var(--shadow-color);
}

/* hero section */
header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero_text{
    position: absolute;
    right: 5em;
    top: 30vh;
    text-align: right;
    max-width: 50em;
}
.hero_text p{
    font-size:2em;
    font-family: 'atomic', sans-serif;
    color: var(--shadow-color);
}
header span li text{
    font-size: 7em;
    line-height: 1em;
    color: var(--nav-text-color);
    font-weight: 1000;
    font-family: 'roboto', sans-serif;
    background-image: url(../images/hero.gif);
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* location informations */
.content{
    width:100%;
    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3em;
    padding-top: 5em;
}
.content_head{
    position: absolute;
    top: 0;
}
.redeem_head strong,
.content_head strong{
    color: var(--nav-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 6em;    
    background-image: url(../images/hero.gif);
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.location_back{
    background-image: url(../images/location.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 70vh;
}
.content_frame_image,
.content_frame_text{
    width: 100%;
    height: 70vh;
}
.content_head_para{
    transform: translateY(8em);
}
.content_frame_text p{
    font-size: 2em;
    font-family: 'atomic', sans-serif;
    text-align: left;
    color: var(--nav-text-color);
}
.button{
    text-align: left;
    margin-top: 2em;
}
.content_head_para a{
    font-size: 2em;
    background-color: var(--nav-text-color);
    padding: .3em 1em .3em 1em;
    border-radius: 2em;
    color: white;
    font-weight: 600;
    border: 2px solid white;
}
.content .card{
    background-color: transparent!important;
    border: none;
}

/* redeem store */
.redeem_store{
    width: 100%;
    box-shadow: 0 0 1em .5em white,0 0 2em 1em white,0 0 3em 1.5em white,0 0 5em 2.5em white,0 0 8em 4em white;
    padding: 3em;
}
.redeem_store .card{
    border: none!important;
    background-color: transparent!important;
}
.redeem_storeimage,
.redeem_storetext{
    width: 100%;
    height: 70vh;
}
.redeem_storeimage{
    background-image: url(../images/redeem.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 70vh;
}
.redeem_head{
    position: absolute;
    top: 0;
    right: 0;
}
.redeem_para{
    transform: translateY(8em);
}
.redeem_para p{
    font-size: 2em;
    font-family: 'atomic', sans-serif;
    text-align: right;
    color: var(--nav-text-color);
}
.button{
    text-align: right;
    margin-top: 2em;
}
.redeem_para a{
    font-size: 2em;
    background-color: var(--nav-text-color);
    padding: .3em 1em .3em 1em;
    border-radius: 2em;
    color: white;
    font-weight: 600;
    border: 2px solid white;
}